{% extends 'base.html' %}

{% block title %}
Posts
{% endblock %}

{% block content %}
<div class="container">
<br><h1 style="text-align: center;">Статьи на сайте</h1><br>

    {% if articles|length > 0 %}
    {% for el in articles %}
    <div class="alert alert-info">
        <h2>{{ el.title }}</h2>
        <p>{{ el.intro }}</p>
        <p><b>Дата: {{ el.date.date() }}</b></p>
        <a href="/posts/{{ el.id }}" class="btn btn-warning">Детальнее</a>
    </div>
    {% endfor %}
    {% else %}
    <p>Статьи отсутствуют</p>
    {% endif %}
</div>
{% endblock %}
